<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
      {% load bootstrap5 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% load widget_tweaks %}
</head>
<body>

{% include 'navbar.html' %}

<div class="container my-5">
    <div class="row mb-5">
        <div class="p-5 m-auto rounded shadow-lg col-md-6 bg-body">
            <h3 class="text-center text-success"> Request For Loan</h3>
            </h3>

            <form method="POST" class="my-5" action="/loan_request">
                {% csrf_token %}
                <div class="mb-4 input-group">
                    <div class="input-group-text">Loan Category</div>
                    {% render_field form.category|attr:'required:true' class="form-control" %}
                </div>
                <div class="mb-4 form-outline">
                    {% render_field form.reason|attr:'required:true' class="form-control" %}
                    <label class="form-label">Reason For Loan</label>
                </div>
                <div class="mb-4 form-outline">
                    {% render_field form.amount|attr:'required:true' type="number" class="form-control" %}
                    <label class="form-label">Request Amount</label>
                </div>
                <div class="mb-4 form-outline">
                    {% render_field form.year|attr:'required:true' type="number" class="form-control" %}
                    <label class="form-label">How many year for loan?</label>
                </div>
                <div class="mb-4 input-group">
                    <div class="input-group-text">Accounting Provider</div>
                    {% render_field form.accounting_provider|attr:'required:true' class="form-control" %}
                </div>
                <button type="submit" class="mb-4 btn btn-primary btn-block" name="balanceReport">balance report</button>

                {{form.errors}}
                {% if balanceSheet %}
                  <table class="table text-center table-light table-hover table-bordered table-striped">
                    <thead class="bg-dark ">
                        <tr class="text-dark ">
                            <th scope="col">Sn</th>
                            <th scope="col">Year</th>
                            <th scope="col">Month</th>
                            <th scope="col">Profits / Loss</th>
                            <th scope="col">Assets Value</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for balance in balanceSheet %}
                        <tr>
                            <th scope="row">{{forloop.counter}}</th>
                            <td>{{balance.year}}</td>
                            <td>{{balance.month}}</td>
                            <td>{{balance.profitOrLoss}}</td>
                            <td>{{balance.assetsValue}}</td>
                        </tr>

                        {% endfor %}

                    </tbody>

                </table>
                {% endif %}
                <button type="submit" class="mb-4 btn btn-primary btn-block" name="saveRquest">Send Request</button>
            </form>

        </div>
    </div>
</div>
</body>
</html>
